@tailwind base;
@tailwind components;
@tailwind utilities;

input::placeholder{
  color: black;
};


/* .business-phone-form-input input {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
  background-color: inherit;
  padding-left: 4px;
} */

.PhoneInputCountrySelectArrow {
  margin-left: 8px;
  width: 8px;
  height: 8px;
  border-bottom-width: 2px;
  border-right-width: 2px;
  border-radius: 1px;
  margin-top: -2px;
}

.PhoneInput {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px; /* Adjust the gap as needed */
}

.PhoneInputCountry {
  display: flex;
}

.PhoneInputCountrySelect{
  display: none;
}

.PhoneInputInput {
background : transparent;
outline: none;
color: black;
}




.PhoneInputCountryIcon--border  {
  box-shadow: none !important;
  width: 24px;
  height: 16px;

}